// COLORS
$color-primary: #4e54c3;
$color-primary-light:#928eed;
$color-primary-dark: #3828b4;

$color-secondary-light: #f0ff9e;
$color-secondary: #e0fd3b;

$color-tertiary-light: #f9accd;
$color-tertiary-dark: #fa43a5;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;

$color-gray-dark: #777;
$color-gray-dark-2: #999;
$color-gray-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;
